<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Video</title>
    <link rel="icon" href="data:;base64,=">
  </head>
  <body>
    <!-- 
    <video controls="controls" width="640" height="480" autoplay="autoplay" >
      <source src="http://127.0.0.1/1234/stream.m3u8" type="application/x-mpegURL" />
    </video>
    -->
    <img src="{{ url_for('video_return') }}">
  </body>
</html>
